.presentationContainer{
    height: 100vh;
    width: 100vw;
    min-height: 800px;
    overflow: hidden;
    position: relative;
}

.presentationContent{
    height: 100%;
}

.presentationTitle h2{
    padding-top: 50px;
    margin: 0px;
    color: #F0EBD8;
    text-shadow: 0px 3px 5px black;
    font-size: 40px; 
    width: fit-content;
    margin-left: 5%;
}

.services{
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 50%;
    gap: 30px;
    justify-content: center;
}

.service{
    width: 100%;
    height: 70%;
    min-height: 120px;
    margin: auto;
    text-align: center;
    z-index: 2;
    color: #F0EBD8;
    background: rgba(33, 53, 71, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0px 3px 5px black;
    opacity: 0;
}

.service.animate{
    opacity: 1;
    animation: fadeIn 1.5s ease-in-out;
}

.service.animate.left{
    animation: fromLeft 1.5s ease-in-out;
}

.service.animate.right{
    animation: fromRight 1.5s ease-in-out;
}

.service.animate.up{
    animation: fromUp 1.5s ease-in-out;
}

.service.animate.down{
    animation: fromDown 1.5s ease-in-out;
}

.nuages{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    top: 25%;
    left: 25%;
}

.nuage{
    position: absolute;
    animation: cloudMouvement 2s ease-in-out infinite alternate;
    width: 50%;
    color: linear-gradient(black, red);
}



@keyframes cloudMouvement{
    0%{
        transform: translate(4px, 4px);
    }
    100%{
        transform: translate(-4px, -4px)
    }
}

@media only screen and (max-width:1060px) {
    .service{
        min-height: 120px;
    }

    .service h3{
        margin-bottom: 0px;
    }

    .service p{
        margin-top: 0px;
    }
}

@media only screen and (max-width:890px) {
    .service{
        min-height: 170px;
    }
    .nuage{
        width: 60%;
    }
    .nuages{
        left: 20%;
    }
}

@media only screen and (max-width:790px) {
    .presentationContainer{
        min-height: 750px;
    }
    .services{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin:  30px auto ;
    }

    .service{
        min-height: 130px;
    }

    .service.animate.left.long{
        grid-column: span 2;
        grid-row-start: 1;
        animation: inherit;
        animation: fromUp 1.5s ease-in-out;
    }

    .service.animate.right.long{
        grid-column: span 2;
        grid-row-start: 4;
        animation: inherit;
        animation: fromDown 1.5s ease-in-out;
    }
    .service.animate.up{
        animation: inherit;
        animation: fromLeft 1.5s ease-in-out;
    }
    .service.animate.down{
        animation: fromRight 1.5s ease-in-out;
    }
    .nuage{
        width: 70%;
    }
    .nuages{
        left: 15%;
    }
}

@media only screen and (max-width:550px) {
    .service h3{
        margin: 10px auto 0px auto;
    }
    .service p{
        margin-top: 5px;
        font-size: 14px;
    }
    .services{
        height: fit-content;
        gap: 15px;
        margin-bottom: 20px;
    }
    .nuage{
        width: 90%;
    }
    .nuages{
        left: 5%;
    }
}

@media only screen and (max-width: 330px) {
    .services{
        margin: 25px auto;
    }

    .service h3{
        font-size: 18px;
    }

    .service p{
        margin-bottom: 0px;
        font-size: 13px;
    }
}

@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fromRight{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fromUp{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes fromDown{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes imgFromLeft {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

