.presentationContainer{
    height: 100vh;
    width: 100vw;
    background-color: #0D1321;
}

.presentationContent{
    height: 100%;
    margin: 0% 5%;
}

.presentationContent h2{
    margin-top: 0;
    color: #F0EBD8;
    z-index: 1;
    text-shadow: 0px 3px 5px black;
    font-size: 40px;
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 50%;
    gap: 30px;
    justify-content: center;
}

.service{
    width: 100%;
    height: 80%;
    margin: auto;
    text-align: center;
    z-index: 999;
    color: #F0EBD8;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0px 3px 5px black;
}

.service.animate{
    animation: fadeIn 1.5s ease-in-out;
}

.service.animate.left{
    animation: fromLeft 1.5s ease-in-out;
}

.service.animate.right{
    animation: fromRight 1.5s ease-in-out;
}

.service.animate.up{
    animation: fromUp 1.5s ease-in-out;
}

.service.animate.down{
    animation: fromDown 1.5s ease-in-out;
}

@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fromRight{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fromUp{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes fromDown{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

