.presentationContainer{
    height: 100vh;
    width: 100vw;
    min-height: 800px;
    position: relative;
}

.presentationTitle h2{
    padding-top: 50px;
    margin: 0px;
    color: #F0EBD8;
    text-shadow: 0px 3px 5px black;
    font-size: 40px; 
    width: fit-content;
    margin-left: 5%;
}

.services{
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 80vh;
    gap: 30px;
    justify-content: center;
}

.service{
    width: 100%;
    height: 70%;
    min-height: 120px;
    margin: auto;
    text-align: center;
    z-index: 2;
    color: #F0EBD8;
    background: rgba(33, 53, 71, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0px 3px 5px black;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.service p{
    font-size: 24px;
    margin: auto 5%;
}

.service h3{
    font-size: 30px;
    margin: auto 5%;
    align-self: center;
}

.service.animate{
    opacity: 1;
    animation: fadeIn 1.5s ease-in-out;
}

.service.animate.left{
    animation: fromLeft 1.5s ease-in-out;
}

.service.animate.right{
    animation: fromRight 1.5s ease-in-out;
}

.service.animate.up{
    animation: fromUp 1.5s ease-in-out;
}

.service.animate.down{
    animation: fromDown 1.5s ease-in-out;
}

.planetContainer{
    width: 50%;
    position: absolute;
    top: 20%;
    transform: rotate(35deg);
}

.planet{
    position: absolute;
    width: 100%;
    color: linear-gradient(black, red);
}

@media only screen and (max-width:1390px) {
    .service p{
        font-size: 22px;
    }
    .service h3{
        font-size: 26px;
    }
}

@media only screen and (max-width:1190px) {
    .service p{
        font-size: 18px;
    }
    .service h3{
        font-size: 24px;
    }
}

@media only screen and (max-width:1060px) {
    .service{
        min-height: 200px;
    }
}

@media only screen and (max-width:890px) {
    .planetContainer{
        width: 70%;
    }
}

@media only screen and (max-width:790px) {
    .services{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin:  30px auto ;
    }
    .service{
        min-height: 150px;
    }

    .service.animate.left.long{
        grid-column: span 2;
        grid-row-start: 1;
        animation: inherit;
        animation: fromUp 1.5s ease-in-out;
        min-height: 120px;
        max-height: 150px;
    }

    .service.animate.left.long p{
        align-self: center;
        margin: auto 5%;
    }

    .service.animate.right.long p{
        align-self: center;
        margin: auto 5%;
    }

    .service.animate.right.long{
        grid-column: span 2;
        grid-row-start: 4;
        animation: inherit;
        animation: fromDown 1.5s ease-in-out;
        min-height: 120px;
        max-height: 150px;
    }
    .service.animate.up{
        animation: inherit;
        animation: fromLeft 1.5s ease-in-out;
    }
    .service.animate.down{
        animation: fromRight 1.5s ease-in-out;
    }
    .planetContainer{
        top: 50%;
    }
}

@media only screen and (max-width:550px) {
    .service{
        min-height: 180px;
        min-width: 150px
    }
    .service p{
        font-size: 16px;
    }
    .service h3{
        font-size: 22px;
    }
    .services{
       
        gap: 15px;
        margin-bottom: 20px;
    }
    .planetContainer{
        width: 100%;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (max-width:450px) {
    .service p{
        font-size: 14px;
    }
    .service h3{
        font-size: 18px;
    }
}

@media only screen and (max-width: 330px) {
    .services{
        margin: 25px auto;
    }
    
}

@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fromRight{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fromUp{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes fromDown{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes imgFromLeft {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

