.animationContainer{
    height: 100vh;
    width: 100vw;
}

.animationContent{
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .animationTitle{
        color: white;
        margin-top: 50px;
    }
}

.services{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    color: white;
}

.service{
    width: 45%;
}

.service h3{
    font-size: 24px;
    height: 30%;
}

