.homeContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(#0E0F13,#2A242F);
    &.loading{
        overflow: hidden;
    }
}


.homeContent{
    width: 100vw;
    height: 100vh;
}

.homeTitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #F8F9FA;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    text-align: center;
}

.homeTitle h1{
    background: linear-gradient(to left, #0E0F13,#2A242F);
    
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeLoader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.homeImageTop{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    overflow: hidden;
    background-image: url('../../assets/test2.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.loader.animate{
    width: 100%;
    height: 10%;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 40%;
    transform: translate(-50%, 50%);
    z-index: 999;
    text-align: center;
}

.textLoader{
    font-size: 24px;
    color: white;
    text-shadow: 0px 3px 5px black;
    .Typewriter{
        z-index: 10010;
        position: absolute;
        left: 50%;
        right: 50%;
        top: 70%;
        transform: translate(-50%);
        width: 100%;
        text-shadow: 0px 3px 5px black;
        font-size: 30px;
    }
}

.arrowContainer{
    position: absolute;
    bottom: 10%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    animation: arrowDown 0.5s linear infinite alternate;
    color: black;
    text-shadow: 0px 3px 5px white;
    font-size: 24px;
}

.loader.off{
    display: none;
}

.barre{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    z-index: 1000;
    position: absolute;
    top: -450%;
}

.recharge{
    top: 50%;
    position: absolute;
    background: linear-gradient(to left, #0E0F13,#2A242F);
    width: 100%;
    height: 0px;
    animation: fillLoadingBarre 3s ease-in-out;
}

@keyframes arrowDown {
    to{
        transform: translateY(20%);
        opacity: 0;
    }
}

@keyframes fillLoadingBarre{
    0%{
        top: 0;
        height: 100%;
    }
    100% {
        height: 0px;
    }
}

@media only screen and (max-width: 450px) {
    .homeTitle h1{
        font-size: 2em;
    }
    .arrowContainer{
        font-size: 18px
    }
}
