.homeContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(#0E0F13,#2A242F);
    &.loading{
        overflow: hidden;
    }
}


.homeContent{
    width: 100vw;
    height: 100vh;
}

.homeTitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #F8F9FA;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    text-align: center;
}

.homeLoader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.homeImageTop{
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 0px;
    overflow: hidden;
    z-index: 998;
    display: off;
    background-image: url('../../assets/montainFour.webp');
    background-size: cover;
}

.homeImageTop.animate{
    animation: upImg 1.5s ease-in-out;
    transform: translateY(-100%);
}

.homeImageBottom{
    position: absolute;
    width: 100vw;
    height: 50vh;
    bottom: 0;
    overflow: hidden;
    display: off;
    background-image: url('../../assets/montainFour.webp');
    background-size: cover;
    background-position: center -100%;
}

.homeImageBottom.animate{
    animation: downImg 1.5s ease-in-out;
    transform: translateY(100%);
}

.loader.animate{
    width: 100%;
    height: 10%;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 40%;
    transform: translate(-50%, 50%);
    z-index: 999;
    text-align: center;
}

.textLoader{
    font-size: 24px;
    color: white;
    text-shadow: 0px 3px 5px black;
    .Typewriter{
        z-index: 10010;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        width: 100%;
        text-shadow: 0px 3px 5px black;
        font-size: 30px;
    }
}


.loader.off{
    display: none;
}

.barre{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    z-index: 1000;
    position: absolute;
    top: -450%;
}

.recharge{
    top: 50%;
    position: absolute;
    background: linear-gradient(to left, #0E0F13,#2A242F);
    width: 100%;
    height: 0px;
    animation: fillLoadingBarre 3s ease-out;
}

@keyframes fillLoadingBarre{
    from{
        top: 0;
        height: 100%;
    }
    to {
        height: 0px;
    }
}

@keyframes upImg {
    from{
        transform: translateY(0%);
        display: block;
    }
    to{
        transform: translateY(-100%);
    }
}

@keyframes downImg {
    from{
        transform: translateY(0%);
        display: block;
    }
    to{
        transform: translateY(100%);
    }
}

@media only screen and (max-width: 450px) {
    .homeTitle h1{
        font-size: 2em;
    }
}
