.resumeContainer{
    height: 100vh;
    display: flex;
    position: relative;
}

.resumeContent{
    height: 80%;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba( 100, 100, 100, 0.37 );
    border-radius: 10px; 
    background-image: url('../../assets/test.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;  
    gap: 50px;  
}

.resumeTitle{
    color: white;
    font-size: 24px;
}

.resumeInfos{
    text-align: center;
    color: white;
    text-shadow: 0px 3px 5px black;
    margin: 10px;
}

.resumeInfos p{
    font-size: 20px;
}

.resumeSkillTab{
    display: flex;
    justify-content: space-around;
}

.skill{
    height: 100%;
    width: 20%;
    text-align: center;
    border-radius: 15px;
    color: white;
    text-shadow: 0px 3px 5px black;
    display: flex;
    flex-direction: column;
}

.responsive{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    background-image: url('../../assets/responsiveTwo.gif');
    background-position: center center;
    background-size: cover;
    margin: auto;
}

.seo{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    background-image: url('../../assets/seo.gif');
    background-position: center center;
    background-size: cover;
    margin: auto;
}

.style{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    background-image: url('../../assets/style.gif');
    background-position: center center;
    background-size: cover;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .skill{
        font-size: 14px;
        width: 100%;
        height: 30%;
    }
    .skill h3{
        font-size: 16px;
        margin: 5px;
    }
    .ref span{
        display: none;
    }
    .ref::after{
        content: 'SEO';
    }
    .resumeSkillTab{
        flex-wrap: wrap;
        height: 90%;
    }
    .style{
        height: 50%;
        width: 30%;
        padding-top: 0px;
        margin: auto;
    }
    .seo{
        height: 50%;
        width: 30%;
        padding-top: 0px;
        margin: auto;
    }
    .responsive{
        height: 50%;
        width: 30%;
        padding-top: 0px;
        margin: auto;
    }
    .resumeInfos p{
        font-size: 16px;
    }
    .resumeContent{
        gap: 0;
    }
    .resumeTitle{
        font-size: 20px;
    }
}

