.contactContainer{
    height: 100vh;
    min-height: 700px;
    position: relative;
}

.contactContent{
    height: 100%;
}

.contactTitle h2{
    margin: 0px 5%;
    color: #F0EBD8;
    text-shadow: 0px 3px 5px black;
    font-size: 40px; 
    width: fit-content;
}

.contactInfo{
    margin:  100px auto;
    text-align: center;
    width: 50%;
    color: #F0EBD8;
    background: rgba(33, 53, 71, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0px 3px 5px black;
    min-height: 300px;
}



.iconGit{
    font-size: 48px;
}
.techTab{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 50px auto;
    font-size: 48px;
    gap: 35px;
}

@media only screen and (max-width:900px) {
    .contactInfo{
        width: 70%;
    }
}

@media only screen and (max-width:650px) {
    .contactInfo{
        width: 90%;
    }
}

@media only screen and (max-width:500px) {
    .techTab{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .contactInfo h3{
        margin-left: 10px;
        margin-right: 10px;
    }
}