.workContainer{
    height: 100vh;
    width: 100vw;
    min-height: 700px;
    position: relative;
}

.workContent{
    height: 100%;
}

.workTitle{
    color: #F0EBD8;
    margin: 0px 5%;
    color: #F0EBD8;
    text-shadow: 0px 3px 5px black;
    font-size: 40px; 
    width: fit-content;
}

.workTitle h2{
    font-size: 40px;
}

.deerAlyx{
    grid-area: b;
}

.deerAlyx .cardBanner, .astro .cardBanner{
    height: 30%;
}

.coiff{
    grid-area: a;
}

.barbie{
    grid-area: c;
}

.astro{
    grid-area: d;
}

.deerAlyx.animate{
    animation: fromRight 1s ease-in-out;
}

.coiff.animate{
    animation: fromUp 1s ease-in-out;
}

.barbie.animate{
    animation: fromDown 1s ease-in-out;
}
.astro.animate{
    animation: fromLeft 1s ease-in-out;
}

.workCards{
    width: 90%;
    height: 80%;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "a b b c"
        "a d d c" ;
}

.card{
    margin: auto;
    width: 90%;
    height: 80%;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}



.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cardBanner{
    width: 100%;
    height: 10%;
    top: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0EBD8;
    background: rgba(0, 0, 0, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-shadow: 0px 3px 5px black;
    transition: all 1s ease-in-out;
}

.cardBanner h3{
    width: 120px;
    height: fit-content;
    text-align: center;
    font-size: 20px;
}

.cardBanner p{
    display: none;
    animation: fadeIn 1s ease-in-out;
    margin: 0 10%;
}

.card:hover .cardBanner{
    height: 100%;
    top: 0;
    border-radius: 10px;
}

.card:hover .cardBanner p{
    display: block;
    text-align: center;
}

.cardBanner i{
    display: none;
}

.card:hover .cardBanner i{
    display: block;
    position: absolute;
    bottom: inherit;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.cloudContainer{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
}

.cloudContainer img{
    width: 50%;
}

.firstCloud{
    position: absolute;
    top: 20% ;
    left: -20%;
}

.secondCloud{
    position: absolute;
    bottom: 30%;
    right: 25%;
}

.thirdCloud{
    position: absolute;
    top: 0;
    right: -20%;
}

@media only screen and (max-width : 850px) {
    .workCards{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d";
    }
    
    .coiff img{
        object-position: 0px -250px;
    }

    .cardBanner{
        height: 40%;
    }
    .deerAlyx .cardBanner, .astro .cardBanner{
        height: 40%;
    }

    .cardImg{
        object-position: center;
    }
    .card:hover .cardBanner h3{
        display: none;
    }
    .card:hover .cardBanner p{
        font-size: 14px;
    }
    .card:hover .deerAlyx h3{
        margin-top: 0px;
    }
}

@media only screen and (max-height:550px) {
    .workCards{
        row-gap: 30px;
    }
}

@media only screen and (max-width:500px) {
    .card:hover .cardBanner i{
        right: 10px;
        top: 10px;
    }
}